<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To Do List</title>

</head>
<body>
    <div class="container">

        <h1 >To Do List <img id="toDoListIcon" src="images/toDoList.png" alt=""></h1>
        <form method="post" action="/api/tasks">
            <input type="text" name="text" placeholder="Enter a task" id="taskInput">
            <button id ="addTaskButton" type="submit">Add Task</button>
        </form>
        <ul id="tasks">
            <%if(locals.tasks){%>
                <%for (let index = 0; index < tasks.length; index++) {%>
                    
                    <div class="task">
                        <li><%=tasks[index].text%></li>
                        <a href="/api/tasks/delete/<%=tasks[index].id%>">&#10005;</a>
                        
                    </div>
                    <p><%=tasks[index].date%></p>
                

                <%}%>
                <%}%>
        </ul>


    </div>



    <script src="/script.js"></script>
</body>
</html>