body{
    background: linear-gradient(135deg,#231c71 10%, #f95d03 360%) no-repeat;
    background-size: cover;
    height:2000px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}   

h1{
    color:#231c71;
    font-weight: bold;
    
}
#toDoListIcon{
    position: relative;
    top: 3px;
    left: 8px;
    width: 30px;
}

.container{

    display: flex;
    flex-direction: column;
    align-items: center;   
    background:linear-gradient(130deg,#ffffff, rgb(231, 231, 231) );
    border-radius: 20px;
    max-width: 700px;
    min-width: 300px;
    margin: auto;    
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.373);
    
}

form input{

    border: none;
    padding: 10px;
    font-size: 1.2em;
    outline: none;

}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.373);
}
form button{
    border: none;
    height: 42px;
    border-radius: 20px;
    background-color: #f95d03;
    color: wheat;
    width: 20%;
    font-weight: bold;
    font-size:1em; 
    cursor: pointer;
}
#tasks li{
    
    list-style: none;
    padding: 30px;
    cursor: pointer;
    position:relative;

 
    
}


#tasks{
    align-self:start;
    width: 85%
   
    
}
#tasks li::before{
    content: '';
    background-image: url(./images/unchecked.png);
    height: 20px;
    width: 20px;
    position:absolute;
    background-size: cover;
    left:1px
}
.checked{
    color:#555;
    text-decoration: line-through;
}

#tasks li.checked::before{
    background-image: url(./images/checked.png);

} 
.task{
    display: flex; 
    text-align: start;
    flex-direction: row;
    align-items: center;
    min-width: 3rem;
}
.task a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(205, 205, 205, 0.418);
    text-align: center;
    border-radius: 80px;      
    padding-inline: 5px;
    padding-bottom: 3px;
    margin-right: 0px;
    margin-left: auto;
  
}
.task a:hover{
    color: gray;
    background-color: rgb(112, 112, 112)16b;
}
